<!-- Chatbot scripts go here 
<script src="https://va.ecitizen.gov.sg/cfp/Script/Jquery/jquery.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script> -->
<!--<script src="https://va.ecitizen.gov.sg/cfp/va/Customs/js/custom_widget.js" integrity="sha384-89NoTa2cVv9VduXk8bt5HOU+l1pj6/2fVpTSJHpJV1KnzcuRmKjT0MfFTrv826pA" crossorigin="anonymous"></script> -->
<script src="https://va.ecitizen.gov.sg/CFP2/VA/Singapore Customs/askjamie.js" type="text/javascript"></script>
<!--
<script>
      (function(w, d, t, u, p, n, s, m) {
                                                  w.__va__ = w.__va__ || function (cb) {
                                                                (w.__va__.q = w.__va__.q || []).push(cb);
                                                  };
                                                  w.__va__.path = w.__va__.path || p;
                                                  w.__va__.source = n || '';
                                                  s = d.createElement(t);
                                                  m = d.getElementsByTagName(t)[0];
                                                  s.async = 1;
                                                  s.src = u;
                                                  m.parentNode.insertBefore(s, m);
                                                })(window, document, 'script', 'https://test-gpc-1.sg.va.sabio.cloud/GPC/CFP2/base-code/scripts/va-loader.js', 'https://test-gpc-1.sg.va.sabio.cloud/GPC/CFP2/VA/Singapore Customs/config/config.json', 'Singapore Customs_VA');
    </script>-->

