<!-- Chatbot scripts go here  -->
<script>
(function(w, d, t, u, p, n, s, m) {
      w.__va__ = w.__va__ || function (cb) {
        (w.__va__.q = w.__va__.q || []).push(cb);
      };
      w.__va__.path = w.__va__.path || p;
      w.__va__.source = n || '';
      s = d.createElement(t);
      m = d.getElementsByTagName(t)[0];
      s.async = 1;
      s.src = u;
      m.parentNode.insertBefore(s, m);
    })(window, document, 'script', 'https://console-flex-api.ap.sabio.cloud/CFP2/base-code/scripts/va-loader.js', 'https://console-flex-api.ap.sabio.cloud/CFP2/VA/SingaporeCustoms_sg-singapore-customs/config/config.json', 'Singapore_Customs_VA');
</script>
