---
title: Import Certificate and Delivery Verification
permalink: /businesses/strategic-goods-control/import-certificate-and-delivery-verification
third_nav_title: Strategic Goods Control
---

# Import Certificate and Delivery Verification

The  **Import Certificate and Delivery Verification (ICDV)**  complement the export control regime of the foreign exporting country/region. Import Certificate serves as an assurance that the Singapore authority has no objection to the proposed import of the specific goods to Singapore for the stated end-use and to the stated end-user. Delivery Verification serves as an assurance that the goods have imported into Singapore.

It assures the exporting country that sensitive goods are delivered to approved end-users in Singapore, or that the goods are allowed to be re-exported through Singapore to approved end-users. The ICDV is also known as the International Import Certificate.

The ICDV is a 3-stage process:

1.  **Apply for an  [Import Certificate](/businesses/strategic-goods-control/import-certificate-and-delivery-verification/import-certificate){:target="_blank"}** if:
    
    -   The goods imported into Singapore are controlled by the exporting country, or
    -   The exporting country requests for an Import Certificate
2.  **Obtain an import permit**  via  [TradeNet](https://www.tradenet.gov.sg/tradenet/index.html){:target="_blank"}  before importing the goods
    
3.  **Apply for a  [Delivery Verification](/businesses/strategic-goods-control/import-certificate-and-delivery-verification/delivery-verification){:target="_blank"}**  after importing the goods, if the exporting country requests for such verification
    

![import certificate and delivery verification](/images/3-stage-process.png)
