---
title: Delivery Verification
permalink: /businesses/strategic-goods-control/import-certificate-and-delivery-verification/delivery-verification
third_nav_title: Import Certificate and Delivery Verification
---

# Delivery Verification

The exporting country may require a Delivery Verification (DV) after you have imported your goods. Please check if your exporter requires a DV when applying for an Import Certificate (IC).

## Applying for Delivery Verification

You should apply for a DV from Singapore Customs if it is required by your exporter. There are two types of DVs - **partial delivery**  and  **complete delivery**. For both types of DVs, please:

-   Upload your ICDV via NTP within 14 days after the goods have arrived in Singapore
-   Ensure the ICDV number is indicated on your import permit

This information is needed to verify the delivery of your goods into Singapore.

## Partial Delivery Verification

This refers to verifying the delivery of the goods under the IC when they are imported into Singapore over different shipments.

For verification of partial delivery, please upload:

-   Copy of the  [Statement for Partial Delivery Verification](/documents/businesses/PSB/Statement for Partial Delivery Verification.docx)
-   Copy of the import permit(s)
-   Bill of Lading or Air Waybill
-   Copy of the [Importer Declaration Letter](/documents/businesses/PSB/Importer Declaration Letter.docx)
-   Export Licence (and its English translation) from the originating country
-   Business transaction documents (for example, invoice, packing list, delivery order)

We will endorse the Statement of Delivery Verification and upload the copy to you via NTP. When all the goods under the IC have been imported, you should apply for verification for the complete delivery.

## Complete Delivery Verification

This refers to the verification of the delivery when all the goods under the IC have been imported into Singapore.

For verification of complete delivery, please upload:

-   Importer's ICDV
-   Copy of the import permit(s)
-   Bill of Lading or Air Waybill
-   Copy of the  [Importer Declaration Letter](/documents/businesses/PSB/Importer Declaration Letter.docx)
-   Export Licence (and its English translation) from the originating country
-   Business transaction documents (for example, invoice, packing list, delivery order)

We will verify that the goods in its stated quantity have arrived in Singapore based on the documents provided.

After verification, you should send the ICDV to the exporter without delay.

## Submitting Your DV Application

For **Complete DV** or  **Partial DV**, please submit your documents to us via NTP.

If the documents are in order, we will upload the endorsed copy of the ICDV via NTP.
